header{
    width: 960px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#masthead{
    width: 100%;
    position: relative;
    background-color: pink;
}
h1{
    color: #4aaaa5;
    float: left;
    width: 25%;
    background-color: #ffffff;
    border-style: solid;
    border-color: #cccccc;
}
nav{
    color: #777777;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    margin-top: 20px;
    background-color: #ffffff;
}
li{
    list-style-type: none;
    display: inline;
    color: #777777;
    text-align: right;
}
a{
    display: block, inline;
    padding: 8px;
    background-color: #4aaaa5;
}
body{
    height: fit-content;
    width: 960px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    position: relative;
}
#main-container{
    color: #777777;
    position: relative;
    
}
img{
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    height: 200px;
}
p {
    color: #777777;
    clear: both;
    width: 100%;
    margin-left: 250px;   
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #777777;
}